* {
    box-sizing: border-box;
  }
  body {
      font-family: "helvetica neue";
      font-size: 10pt;
      font-weight: 300;
      margin: 5%;
  }
  
  h1,
  h2,
  .contact{
      color:#357CA3;
  }
  
  h1,
  .contact{
      text-align: center;
  }
  
  h1 {
      font-size:32pt;
      margin-bottom: 10px;
      padding-top: 5px;
      border-top-style: solid;
      border-width: thin;
  }
  
  h2 {
      font-weight: normal;
      text-decoration-line:underline;
      margin: 0px 0px 10px;
  }
  
  h3 {
      margin: 0px;
      padding-bottom: 0px;
  }
  
  p {
      margin: 0pt 0pt 10pt;
  }
  
  ul {
      list-style-type: "-  ";
      padding-left: 0px;
      margin: 5px 16px;
      list-style-position: outside;
      overflow: visible;
  }
  
  .avi {
      display: block;
      max-width:90%;
      max-height:95%;
      margin: 10px 0px;
  }
  
  .profile {
      margin-top: 16px;
      margin-bottom: 0px;
  }
  .contact {
      font-weight:normal;
      width: 85%;
      margin: 10px auto;
      border-bottom-style: solid;
      border-width: thin;
      padding-bottom: 10px;
  }
  
  .column {
      float: left;
      padding: 10px;
  }
  
  .column.left {
        width: 25%;
      margin: 0px;
      overflow: auto;
  }
  
  .column.right {
      width: 75%;
  }
  
  @media screen and (max-width: 700px) {
       .column.left, 
      .column.right {
          width: 100%;
       }
       .avi {
          display: block;
          max-width:80%;
          max-height:85%;
          margin-top: 0px;
          margin-bottom: 10px;
          margin-left: auto;
          margin-right: auto;
       }
  }